@charset "UTF-8";
/**style des btn **/
/** style  main page **/
/** animation loader **/
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-150%);
    opacity: 1;
  }
  100% {
    transform: translateY(-500%);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-cube {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/** anime du coeur **/
/** anime pour scale un élément + anime pour changé ça couleur**/
/** anime article 1/1 **/
@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/** test **/
.a-1 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.2s;
}

.a-2 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.4s;
}

.a-3 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.6s;
}

.a-4 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.8s;
}

.a-5 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1s;
}

.a-6 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.2s;
}

.a-7 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.4s;
}

.a-8 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.6s;
}

.a-9 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.8s;
}

.a-10 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 2s;
}

/** anime titre (entrée etc) **/
@-webkit-keyframes menu__T1 {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu__T1 {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.menu__T1 {
  -webkit-animation: menu__T1 0.5s linear both;
  animation: menu__T1 0.5s linear both;
}

body {
  font-family: roboto;
  margin: 0;
  font-size: 100%;
  width: 100%;
}

h1 {
  font-size: 190%;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 15px;
  line-height: 25px;
  background-color: #353535;
  color: #fff;
}
.footer .fa-solid {
  padding-right: 10px;
}
.footer h2 {
  font-family: Shrikhand;
  font-weight: lighter;
  font-size: 20px;
}
.footer a {
  color: #fff;
}

.loading {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(50deg, #9356dc, #ff79da);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  animation: loading 3.5s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__warp {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #99e2d0;
  animation: loader 2s infinite ease;
}
.loading__cube {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #99e2d0;
  animation: loader-cube 2s infinite ease-in;
}

/** général **/
/** header**/
header .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}
header .top .fa-solid {
  font-weight: bold;
  font-size: large;
}
header .top .top__logo {
  width: 50%;
}

.top__BG {
  max-height: 250px;
  width: 100%;
  object-position: 0% 77%;
  object-fit: cover;
}

.mainmenu {
  margin-top: -60px;
  border-radius: 32px 32px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
}
.mainmenu__header {
  padding: 16px 32px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.mainmenu__T1 {
  font-family: Shrikhand;
  font-weight: bold;
}
.mainmenu__heart1:hover {
  background: -moz-linear-gradient(50deg, #9356dc, #ff79da);
  background: -webkit-linear-gradient(50deg, #9356dc, #ff79da);
  background: linear-gradient(50deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.menus {
  display: grid;
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0px 16px;
}
.menu__T1 {
  text-transform: uppercase;
  padding-bottom: 8px;
  font-weight: normal;
  border-bottom: 3px solid #99e2d0;
  width: 11%;
}

.menucarte {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin: 16px 0px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.menucarte__div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 16px;
}
.menucarte__T2 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menucarte__p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menucarte__prix {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 0px 16px 10px 0px;
}
.menucarte__checkbox {
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  transition-duration: 0.5s;
}
.menucarte__checkbox .fa-solid {
  color: #fff;
  font-weight: lighter;
  font-size: 17px;
  transform: rotate(0);
  transition-duration: 0.5s;
}
.menucarte__checkbox:hover {
  width: 20%;
}
.menucarte__checkbox:hover .fa-solid:hover {
  transform: rotate(180deg);
}

.maincommander {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 150px;
}
.maincommander__btn {
  padding: 10px;
  border-radius: 130px;
  font-size: large;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff79da 10%, #9356dc 100%);
  color: #fff;
  display: inline-block;
  width: 180px;
  height: 15%;
  text-align: center;
}