@charset "UTF-8";
@import url(Layout/_BEMfooter.scss);
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-150%);
    opacity: 1;
  }
  100% {
    transform: translateY(-500%);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-cube {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/**style des btn **/
/** anime du coeur **/
/** anime pour scale un élément + anime pour changé ça couleur**/
/** style  main page **/
/** anime article 1/1 **/
@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/** test **/
.a-1 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.2s;
}

.a-2 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.4s;
}

.a-3 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.6s;
}

.a-4 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 0.8s;
}

.a-5 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1s;
}

.a-6 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.2s;
}

.a-7 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.4s;
}

.a-8 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.6s;
}

.a-9 {
  -webkit-animation: anim 1s ease-in both;
  animation: anim 1s ease-in both;
  animation-delay: 1.8s;
}

/** anime titre (entrée etc) **/
@-webkit-keyframes menu__T1 {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu__T1 {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.menu__T1 {
  -webkit-animation: menu__T1 0.5s linear both;
  animation: menu__T1 0.5s linear both;
}

body {
  font-family: roboto;
  margin: 0;
  font-size: 100%;
  width: 100%;
}

h1 {
  font-size: 190%;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.nav, .menu__top, header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.resto__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: 0% 60%;
  border-radius: 15px 15px 0px 0px;
}

.loading {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(50deg, #9356dc, #ff79da);
  width: 100%;
  height: 100%;
  animation: loading 3.5s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__warp {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #99e2d0;
  animation: loader 2s infinite ease;
}
.loading__cube {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #99e2d0;
  animation: loader-cube 2s infinite ease-in;
}

header .logo__img {
  width: 70%;
  padding: 5px;
}
header .recherche {
  font-weight: bold;
  background-color: #eaeaea;
  padding: 15px;
}

.menu__top {
  align-items: center;
  padding: 15px 0px 20px 0px;
  background-color: #f6f6f6;
}
.menu__top .menu__btn {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  width: 70%;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #9356dc;
}
.menu__top .menu__btn:hover {
  transform: scale(1.05);
  transition-duration: 800ms;
}

.nav h2 {
  text-align: left;
  padding: 0px 0px 0px 10px;
}
.nav .nav__bar .fa-solid {
  padding-right: 25px;
  color: gray;
}
.nav .nav__bar a {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 30px 45px;
}
.nav .nav__bar a:hover {
  transform: scale(1.05);
  transition-duration: 800ms;
  background: #e4d5f6;
}
.nav .nav__bar a:hover .fa-solid {
  color: #9356dc;
}

.resto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eaeaea;
  margin-top: 30px;
}
.resto h2 {
  padding-left: 20px;
}
.resto__new {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #00644b;
}
.resto__article {
  background-color: #fff;
  margin: 20px;
  height: 250px;
  border-radius: 15px;
  position: relative;
}
.resto__article:hover {
  transform: scale(1.05);
  transition-duration: 800ms;
}
.resto__contenu {
  padding-left: 15px;
  line-height: 7px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
.resto__heart1 {
  display: flex;
  align-items: center;
}
.resto__heart1:hover {
  background: -moz-linear-gradient(50deg, #9356dc, #ff79da);
  background: -webkit-linear-gradient(50deg, #9356dc, #ff79da);
  background: linear-gradient(50deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}