/** général **/

@use  './Utils/_mixinandanim.scss' as mixinstyle;
@use './Utils/_variables.scss' as varcouleurs;
@use './Base/normes';
@import url(Layout/_BEMfooter.scss);


/** header**/

header{
    .top{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 60px;
        .fa-solid{
            font-weight: bold;
            font-size: large;
        }
        .top__logo{
            width: 50%;
        }
    }
}

.top__BG{
    max-height: 250px;
    width: 100%;
    object-position: 0% 77%;
    object-fit: cover;
}

.mainmenu{
    margin-top: -60px;
    border-radius: 32px 32px 0px 0px;
    background-color: varcouleurs.$secondgray;
    position: relative;
    &__header{
        padding: 16px 32px 0px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &__T1{
        font-family: Shrikhand;
        font-weight: bold;
    }
    &__heart1:hover{
        @include mixinstyle.animheart1();
    }
}

.menus{
    display: grid;
}

.menu{
    max-width: 100%;
    overflow: hidden;
    padding: 0px 16px;

    &__T1{
        text-transform: uppercase;
        padding-bottom: 8px;
        font-weight: normal;
        border-bottom: 3px solid varcouleurs.$thirdcolor;
        width: 11%;
    }
}

.menucarte{
    background-color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin: 16px 0px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;

    &__div{
        @include mixinstyle.menu__txt();
    }
    
    &__T2{
        margin: 0;
        @include mixinstyle.menu__txt();
    }
    &__p{
        margin: 0;
        @include mixinstyle.menu__txt();
    }

    &__prix{
        font-weight: bold;
        display: flex;
        align-items: end;
        padding-left: 8px;
    }
}
.maincommander{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
    &__btn{
    padding: 10px;
    border-radius: 130px;
    font-size: large;
    cursor: pointer;
    background: linear-gradient(to bottom, varcouleurs.$secondarycolor 10%, varcouleurs.$primarycolor 100%);
    color: #fff;
    display: inline-block;
    width: 180px;
    height: 15%;
    text-align: center;
    }
}
