@use  './Utils/_mixin.scss' as mixinstyle;
@use './Utils/animation.scss' as anim;
@use './Utils/_variables.scss' as varcouleurs;
@use './Base/_normes.scss';
@use './Layout/_BEMfooter.scss';


%block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}



header{
    @extend %block;
    .logo__img{
        width: 70%;
        padding: 5px;
    }
    .recherche{
        font-weight: bold;
        background-color: varcouleurs.$firstgray;
        padding: 15px;
    }
}

.menu__top{
    @extend %block;
    align-items: center;
    padding: 15px 0px 20px 0px;
    background-color: varcouleurs.$secondgray;
    .menu__btn{
        @include mixinstyle.btn();
    }
    .menu__btn:hover{
        @include anim.animscale();
    }
}

.nav{
    @extend %block;
    h2{
        text-align: left;
        padding: 0px 0px 0px 10px;
    }
    .nav__bar{
        .fa-solid{
            padding-right: 25px;
            color: gray;
        }

        a{
            @include mixinstyle.btn__F();
        }
        a:hover{
            @include anim.animscale();
            @include anim.animebgcolor();
            .fa-solid{
                color: varcouleurs.$primarycolor;
            }
        }
    }
    &__num{
        background: varcouleurs.$primarycolor;
        border-radius: 50%;
        padding: 5px;
        font-size: 10pt;
        color: #fff;
        margin-right: 1px;
        justify-content: flex-start;
    }
}

