
$primarycolor: #9356dc;
$secondarycolor: #ff79da;
$thirdcolor: #99e2d0;
$firstgray: #eaeaea;
$secondgray: #f6f6f6;
$thirdgray: #353535;

body{
    font-family: roboto;
    margin: 0;
    font-size: 100%;
    width: 100%;
}

h1{
    font-size: 190%;
}

ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

%block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

%imgcard{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: 0% 60%;
    border-radius: 15px 15px 0px 0px;
}

@mixin btn{
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    background:linear-gradient(to bottom, $secondarycolor 5%, $primarycolor 100%);
    border-radius:25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:inline-block;
    cursor:pointer;
    border: none;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    width: 70%;
    padding:16px 31px;
    text-shadow:0px 1px 0px $primarycolor;
}

@mixin animheart1{
    background: -moz-linear-gradient(50deg, $primarycolor, $secondarycolor);
    background: -webkit-linear-gradient(50deg, $primarycolor, $secondarycolor);
    background: linear-gradient(50deg, $primarycolor, $secondarycolor);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

@mixin animscale {
    transform: scale(1.05);
    transition-duration: 800ms;
}

@mixin animebgcolor {
    background: lighten($color: $primarycolor, $amount: 30);
}

@mixin btn__F {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 30px 45px;
}

header{
    @extend %block;
    .logo__img{
        width: 70%;
        padding: 5px;
    }
    .recherche{
        font-weight: bold;
        background-color: $firstgray;
        padding: 15px;
    }
}

.menu__top{
    @extend %block;
    align-items: center;
    padding: 15px 0px 20px 0px;
    background-color: $secondgray;
    .menu__btn{
        @include btn();
    }
    .menu__btn:hover{
        @include animscale();
    }
}

.nav{
    @extend %block;
    h2{
        text-align: left;
        padding: 0px 0px 0px 10px;
    }
    .nav__bar{
        .fa-solid{
            padding-right: 25px;
            color: gray;
        }

        a{
            @include btn__F();
        }
        a:hover{
            @include animscale();
            @include animebgcolor();
            .fa-solid{
                color: $primarycolor;
            }
        }
    }
}
.resto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $firstgray;
    margin-top: 30px;
    h2{
        padding-left: 20px;
    }
    &__new{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px;
        border-radius: 2px;
        background-color: $thirdcolor;
        color: #00644b;
    }
    &__article{
        background-color: #fff;
        margin: 20px;
        height: 250px;
        border-radius: 15px;
        position: relative;
    }
    &__article:hover{
        @include animscale();
    }
    &__img{
        @extend %imgcard;
    }
    &__contenu{
        padding-left: 15px;
        line-height: 7px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__heart1{
        display: flex;
        align-items: center;
    }
    &__heart1:hover{
        @include animheart1();
    }
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 15px;
    line-height: 25px;
    background-color: $thirdgray;
    color: #fff;
    .fa-solid{
        padding-right: 10px;
    }
    h2{
        font-family: Shrikhand;
        font-weight: lighter;
        font-size: 20px;
    }
    a{
        color: #fff;
    }
}