/** importation des styles **/
@use  './Utils/_mixin.scss' as mixinstyle;
@use './Utils/animation.scss' as anim;
@use './Utils/_variables.scss' as varcouleurs;
@use './Pages/mainpageresto.scss';
@use './Base/_normes.scss';
@use './Layout/_BEMreusableblock.scss';

/** %placeholder mise en page**/

%block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}


/** header **/

header{
    @extend %block;
    .logo__img{
        width: 50%;
        padding: 7px;
        margin-top: 14px;
        @media screen and(min-width: 768px) {
            max-width: 385px;
        }
    }
    .recherche{
        font-weight: bold;
        background-color: varcouleurs.$firstgray;
        box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }
}
/** réservez le menu... + btn explorer nos restaurants **/
.menu__top{
    @extend %block;
    align-items: center;
    padding: 15px 0px 20px 0px;
    background-color: varcouleurs.$secondgray;
    .menu__btn{
        @include mixinstyle.btn();
    }
    .menu__btn:hover{
        @include anim.animscale();
    }
}
/** fonctionnement **/
.nav{
    @extend %block;
    h2{
        text-align: left;
        padding: 0px 0px 0px 10px;
        @media screen and(min-width: 768px) {
            text-align: center;
        }
    }
    .nav__bar{
        .fa-solid{
            padding-right: 25px;
            color: gray;
        }

        a{
            @include mixinstyle.btn__F();
        }
        a:hover{
            @include anim.animebgcolor();
            .fa-solid{
                color: varcouleurs.$primarycolor;
            }
        }
    }
    &__num{
        background: varcouleurs.$primarycolor;
        border-radius: 100%;
        position: relative;
        left: 13px;
        padding: 8px;
        font-size: 8pt;
        color: #fff;
        margin-right: 1px;
    }
}

