/** importation des style **/
@use  '../Utils/_mixin.scss' as mixinstyle;
@use '../Utils/animation.scss' as anim;
@use '../Utils/_variables.scss' as varcouleurs;
@use '../Base/_normes.scss';

/** style des pages restaurant **/
.menucarte{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin: 16px 0px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;

    &__div{
        @include mixinstyle.menu__txt();
        padding: 16px;
    }
    
    &__T2{
        margin: 0;
        @include mixinstyle.menu__txt();
    }
    &__p{
        margin: 0;
        @include mixinstyle.menu__txt();
    }

    &__prix{
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        padding: 0px 16px 10px 0px;
    }
    &__checkbox{
        background: varcouleurs.$thirdcolor;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;
        transition-duration: 0.5s;
        .fa-solid{
            color: #fff;
            font-weight: lighter;
            font-size: 17px;
            transform: rotate(0);
            transition-duration: 0.5s;
        }
    }
    &__checkbox:hover{
        width: 20%;
        .fa-solid:hover{
            transform: rotate(180deg);
        }
    }
}